@namespace Gizmo.Web.Components
@inherits InputBase<TValue>

@typeparam TItemType
@typeparam TValue

<CascadingValue Value="@((ISelect<TValue>)this)" IsFixed="true">

    <div class="@Class @ClassName"
         style="@StyleMapper.AsString()">

        <GizInput Label="@Label"
                  IsDisabled="@IsDisabled"
                  IsFullWidth="@IsFullWidth"
                  HasOutline="@HasOutline"
                  HasShadow="@HasShadow"
                  Size="@Size"
                  IsValid="@_isValid"
                  ValidationMessage="@_validationMessage"
                  RightIcon="fas fa-caret-down"
                  @onclick="OnClickMenuHandler">

            <input id="@Id"
                   type="text"
                   value="@_text"
                   readonly="@IsReadOnly"
                   disabled="@IsDisabled"
                   @oninput="OnInput"
                   @onkeydown="OnInputKeyDown"
                   @onclick="OnClickHandler" />

        </GizInput>

        <Popup MaximumHeight="@MaximumHeight" IsOpen="@IsOpen" Class="@PopupClassName">
            <List @ref="_itemsList">
                @if (ItemSource != null)
                {
                    @foreach (var item in GetFiltered(_text))
                    {
                        if (ItemTemplate != null)
                        {
                            @ItemTemplate(item);
                        }
                        else
                        {
                            <SelectItem TValue="@TValue" Value="@GetItemValue(item)" Text="@GetItemText(item)" />
                        }
                    }
                }
            </List>
        </Popup>
    </div>

    <Overlay Visible="@IsOpen"
             @onclick="OnClickOverlayHandler">
    </Overlay>

</CascadingValue>