@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<button class="@Class @ClassName @(!string.IsNullOrEmpty(RightIcon) ? ButtonIconRight : "")"
        style="@Style"
        @onclick="@OnClickHandler"
        aria-label="@Label"
        disabled="@IsDisabled"
        type="@Type"
        name="@Name"
        value="@Value"
        @ref="@Ref"
        @attributes="@Attributes"
        id="@Id">

    @if (!string.IsNullOrEmpty(LeftIcon))
    {
        <Icon Source="@LeftIcon" Class="@ButtonIconLeft"/>
    }

    @ChildContent

    @if (!string.IsNullOrEmpty(RightIcon))
    {
        <Icon Source="@RightIcon" Class="@ButtonIconRight" />
    }

</button>