@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<button class="@Class @ClassName"
        style="@Style @StyleMapper.AsString()"
        @onclick="@OnClickHandler"
        aria-label="@Label"
        disabled="@IsDisabled"
        type="@Type"
        name="@Name"
        value="@Value"
        @ref="@Ref"
        @attributes="@Attributes"
        id="@Id">
    @ChildContent
    
</button>