@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<button class="@Class @ClassName"
        style="@Style @StyleMapper.AsString()"
        @onclick="@OnClickHandler"
        aria-label="@Label"
        disabled="@IsDisabled"
        type="@Type"
        name="@Name"
        value="@Value"
        @ref="@Ref"
        @attributes="@Attributes"
        id="@Id">

    @if (!string.IsNullOrEmpty(LeftIcon))
    {
        <Icon Source="@LeftIcon" />
    }

    @ChildContent

    @if (!string.IsNullOrEmpty(RightIcon))
    {
        <Icon Source="@RightIcon" />
    }

</button>