@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<button class="@Class @ClassName @(!string.IsNullOrEmpty(RightIcon) ? ButtonIconRight : "")"
        style="@Style"
        @onclick="@OnClickButtonHandler"
        aria-label="@Label"
        disabled="@IsDisabled"
        type="@Type"
        name="@Name"
        value="@Value"
        @ref="@Ref"
        @attributes="@Attributes"
        id="@Id">

    <div style="display: flex; align-items: center; @((!string.IsNullOrEmpty(RightIcon) || RightSVGIcon.HasValue) ? "" : "justify-content: center")">
        @if (!string.IsNullOrEmpty(LeftIcon) || LeftSVGIcon.HasValue)
        {
            <Icon Source="@LeftIcon" SVGIcon="LeftSVGIcon" Class="@ButtonIconLeft" />
        }

        <div style="display: inline-block; @((!string.IsNullOrEmpty(RightIcon) || RightSVGIcon.HasValue) ? "margin-right: auto;" : "")">
            @ChildContent
        </div>

        @if (!string.IsNullOrEmpty(RightIcon) || RightSVGIcon.HasValue)
        {
            <Icon Source="@RightIcon" SVGIcon="RightSVGIcon" Class="@ButtonIconRight" />
        }
    </div>

</button>