@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<input class="@ClassName"
       type="checkbox"
       checked="@IsChecked"
       disabled="@IsDisabled"
       @ref="@Ref"
       @onchange="OnChangeHandler"
       id="@Id"
       @attributes="Attributes"
       @onclick="OnClickHandler"
       @onclick:preventDefault="@PreventDefault"
       @onclick:stopPropagation="true"
       />
<label for="@Id">
    @if (!string.IsNullOrEmpty(Label))
    {
        @Label
    }
</label>

