@namespace Gizmo.Web.Components
@inherits Gizmo.Web.Components.CustomDOMComponentBase

<div class="@Class @ClassName"
        style="@Style"
        @onclick="@OnClickChipHandler"
        @onclick:stopPropagation="true"
        @ref="@Ref"
        @attributes="@Attributes"
        id="@Id">
    <div>
        @ChildContent
    </div>
    @if (CanClose)
    {
        <IconButton SVGIcon="Icons.Close_Client" Size="ButtonSizes.ExtraSmall" @onclick="OnClickCloseButtonHandler" />
    }
</div>