@namespace Gizmo.Web.Components
@inherits Gizmo.Web.Components.CustomDOMComponentBase

<div class="@Class @ClassName"
        style="@Style"
        @onclick="@OnClickChipHandler"
        @onclick:stopPropagation="true"
        @ref="@Ref"
        @attributes="@Attributes"
        id="@Id">
    @ChildContent
</div>