@namespace Gizmo.Web.Components
@inherits ButtonBase

<div class="giz-combobutton">
    <Button Class="left-button" Color="@Color" Size="@Size" Variant="@Variant" Label="@Label" ChildContent="@ChildContent" StopPropagation="@StopPropagation" IsFullWidth="true" @onclick="OnClickMainButtonHandler" />
    <Button Class="right-button" Color="@Color" Size="@Size" Variant="@Variant" LeftSVGIcon="Icons.TriangleDown" @onclick="OnClickDropDownButtonHandler" />

    <Popup @bind-IsOpen="_isOpen"
           OpenDirection="PopupOpenDirections.Bottom">
        <List @ref="_popupContent"
                CanClick="true">
            @DropDownItems
        </List>
    </Popup>
</div>
