@namespace Gizmo.Web.Components
@inherits Gizmo.Web.Components.CustomDOMComponentBase
@typeparam TItemType
@*propogate this component as parent*@
<CascadingValue Value="this" Name="Parent" IsFixed="true">

    <table class="@ClassMapper.AsString()"
           style="@StyleMapper.AsString()"
           id="@Id"
           @ref="@Ref"
           @attributes="@Attributes">

        @*table head*@
        <thead>
            @*header*@
            <tr>
                @if (IsSelectable)
                {
                    <td>
                        <CheckBox IsChecked="@(_hasSelectedAllItems)" IsTriState="@(_hasSelectedItems && !_hasSelectedAllItems)" IsIndeterminate="@(_hasSelectedItems && !_hasSelectedAllItems)" IsCheckedChanged="@IsCheckedChangedHandler" />
                    </td>
                }
                @ChildContent
            </tr>
        </thead>

        @*table body*@
        <tbody>
            @if (@IsVirtualized)
            {
                @*virtualization enabled*@
                @if (ItemsProvider != null)
                {
                    <Virtualize TItem="@TItemType"
                                Context="dataItem"
                                ItemSize="@ItemSize"
                                OverscanCount="@OverscanCount"
                                ItemsProvider="@ItemsProvider">
                        <ItemContent>
                            <DataGridRow TItemType="@TItemType" Columns="@Columns" IsSelectable="@IsSelectable" IsDropdown="@(DetailTemplate != null)" Item="dataItem" />
                        </ItemContent>
                        <Placeholder>
                            @PlaceHolderTemplate
                        </Placeholder>
                    </Virtualize>
                }
                else
                {
                    <Virtualize TItem="@TItemType"
                                Context="dataItem"
                                ItemSize="@ItemSize"
                                OverscanCount="@OverscanCount"
                                Items="@ItemSource">
                        <ItemContent>
                            <DataGridRow TItemType="@TItemType" Columns="@Columns" IsSelectable="@IsSelectable" IsDropdown="@(DetailTemplate != null)" Item="dataItem" />
                        </ItemContent>
                        <Placeholder>
                            @PlaceHolderTemplate
                        </Placeholder>
                    </Virtualize>
                }
            }
            else
            {
                @*virtualization disabled*@
                @if (ItemSource != null)
                {
                    @foreach (var dataItem in ItemSource)
                    {
                        <DataGridRow TItemType="@TItemType" Columns="@Columns" IsSelectable="@IsSelectable" IsDropdown="@(DetailTemplate != null)" Item="dataItem" />
                    }
                }
            }
        </tbody>

    </table>

</CascadingValue>