@namespace Gizmo.Web.Components
@inherits Gizmo.Web.Components.CustomDOMComponentBase

@typeparam TItemType

<tr class="@ClassName"
    @key="Item.GetHashCode()"
    @onclick="@(async (e) => await OnDataRowMouseEvent(e, Item))"
    @onclick:stopPropagation="true"
    >

    @if (IsSelectable)
    {
        <td>
            <CheckBox IsChecked="@_selected" IsCheckedChanged="@IsCheckedChangedHandler" IsReadOnly="@Parent.SelectOnClick" />
        </td>
    }

    @foreach (var column in Columns)
    {
        if (column.CellTemplate != null)
        {
            <DataGridCell TItemType="@TItemType" Column="column" Item="@Item" />
        }
    }
</tr>

@if (IsDropdown)
{
    <DataGridDetailTemplate Columns="@(Columns.Count())">
        @Parent.DetailTemplate(Item)
    </DataGridDetailTemplate>
}