@namespace Gizmo.Web.Components
@inherits Gizmo.Web.Components.CustomDOMComponentBase
@typeparam TItemType
@*propogate this component as parent*@
<CascadingValue Value="this" Name="Parent" IsFixed="true">

    <table class="@ClassMapper.AsString()"
           style="@StyleMapper.AsString()"
           id="@Id"
           @ref="@Ref"
           @attributes="@Attributes">

        @*table head*@
        <thead>
            @*header*@
            <tr>
                @ChildContent
            </tr>
        </thead>

        @*table body*@
        <tbody>
            @if (@IsVirtualized)
            {
                @*virtualization enabled*@
                <Virtualize TItem="@TItemType"
                            Context="dataItem"
                            Items="@ItemSource"
                            ItemSize="@ItemSize"
                            OverscanCount="@OverscanCount"
                            ItemsProvider="@ItemsProvider">
                    <ItemContent>
                        <DataGridRow TItemType="@TItemType" Columns="@Columns" IsDropdown="@(DetailTemplate != null)" Item="dataItem" />
                    </ItemContent>
                    <Placeholder>
                        @PlaceHolderTemplate
                    </Placeholder>
                </Virtualize>
            }
            else
            {
                @*virtualization disabled*@
                @if (ItemSource != null)
                {
                    @foreach (var dataItem in ItemSource)
                    {
                        <DataGridRow TItemType="@TItemType" Columns="@Columns" IsDropdown="@(DetailTemplate != null)" Item="dataItem" />
                    }
                }
            }
        </tbody>

    </table>

</CascadingValue>