@namespace Gizmo.Web.Components
@inherits InputBase<DateTime?>

<div class="giz-calendar">
    <div class="giz-calendar-header">
        <div><button @onclick="OnClickYearHandler"><span class="giz-calendar-year-title">@CurrentVisibleMonth.ToString("yyyy")</span></button></div>
        <div><button><span class="giz-calendar-title">@(Value?.ToString("ddd, dd MMM") ?? DateTime.Now.ToString("ddd, dd MMM"))</span></button></div>
    </div>
    <div class="giz-calendar-content">
        @if (_showMonthPicker)
        {
            <div class="giz-calendar-title-switch">
                <div><button><i class="fas fa-chevron-left"></i></button></div>
                <div class="giz-calendar-title-slide">2021</div>
                <div>
                    <button><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
            <div class="giz-calendar-month">
                @for (int i = 1; i <= 12; i++)
                {
                    var local_i = i;
                    var monthName = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedMonthName(local_i);
                    <div><button @onclick="@(() => OnClickMonth(local_i))"><span class="giz-calendar-month-count">@monthName</span></button></div>
                }
            </div>
            @*<div class="giz-calendar-action">
                <div><button>CANCEL</button> </div>
                <div><button>OK</button>  </div>
            </div>*@
        }
        else
        {
            <div class="giz-calendar-title-switch">
                <div><button @onclick="OnClickPreviousMonthHandler"><i class="fas fa-chevron-left"></i></button></div>
                <div class="giz-calendar-title-slide" @onclick="OnClickMonthHandler">@CurrentVisibleMonth.ToString("MMM yyyy")</div>
                <div>
                    <button @onclick="OnClickNextMonthHandler"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
            <div class="giz-calendar-weekday">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="giz-calendar-day">
                @for (int i = 0; i < _whiteSpaces; i++)
                {
                    <div></div>
                }
                @for (int i = 1; i <= _monthDays; i++)
                {
                    var local_i = i;
                    <div><button @onclick="@(() => OnClickDay(local_i))" class="@(IsCurrentDay(@CurrentVisibleMonth.Year , @CurrentVisibleMonth.Month , local_i) ? "active": "")"><span class="giz-calendar-day-count">@i</span></button></div>
                }
            </div>
        }

    </div>
</div>