@namespace Gizmo.Web.Components
@inherits InputBase<DateTime?>

<CascadingValue Value="@this" IsFixed="true">

    @if (Variant != PickerVariants.Static)
    {
        <div class="@Class @ClassName">

            <GizInput Label="@Label"
                      IsDisabled="@IsDisabled"
                      IsFullWidth="@IsFullWidth"
                      HasOutline="@HasOutline"
                      HasShadow="@HasShadow"
                      Size="@Size"
                      IsValid="@_isValid"
                      ValidationMessage="@_validationMessage"
                      RightIcon="fas fa-calendar"
                      @onclick="OnClickInputHandler">

                <input id="@Id"
                       type="text"
                       value="@_text"
                       readonly="@IsReadOnly"
                       disabled="@IsDisabled"
                       style="cursor: pointer;"
                       @oninput="OnInputHandler"
                       @onclick="OnClickInputHandler" />

            </GizInput>

            <Popup Modal="true" IsOpen="@IsOpen" Class="@PopupClassName">
                <DatePickerBase Value="@Value" ValueChanged="@DatePickerValueChanged" IsFullWidth="@IsFullWidth" />
            </Popup>
        </div>

        <Overlay Visible="@IsOpen"
                 @onclick="OnClickOverlayHandler">
        </Overlay>
    }
    else
    {
        <DatePickerBase @bind-Value="Value" IsFullWidth="@IsFullWidth" />
    }

</CascadingValue>