@namespace Gizmo.Web.Components
@inherits InputBase<DateTime?>

<CascadingValue Value="@this" IsFixed="true">

    @if (Variant == PickerVariants.Dialog)
    {
        <div class="@Class @ClassName"
             style="@StyleMapper.AsString()">

            <GizInput Label="@Label"
                      IsDisabled="@IsDisabled"
                      IsFullWidth="@IsFullWidth"
                      HasOutline="@HasOutline"
                      HasShadow="@HasShadow"
                      Size="@Size"
                      IsValid="@_isValid"
                      ValidationMessage="@_validationMessage"
                      RightIcon="fas fa-calendar"
                      @onclick="OnMenuClickHandler">

                <input id="@Id"
                       type="text"
                       value="@_text"
                       readonly="@IsReadOnly"
                       disabled="@IsDisabled"
                       @oninput="OnInputHandler"
                       @onclick="OnInputClickHandler" />

            </GizInput>

            <Popup IsOpen="@IsOpen" Class="@PopupClassName">
                <DatePickerBase @bind-Value="Value" IsFullWidth="@IsFullWidth" />
            </Popup>
        </div>

        <Overlay Visible="@IsOpen"
                 @onclick="OnOverlayClickHandler">
        </Overlay>
    }
    else
    {
        <DatePickerBase @bind-Value="Value" IsFullWidth="@IsFullWidth" />
    }

</CascadingValue>