@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName"
     style="@Style"
     @onclick="OnClickHandler">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label for="@Id" class="giz-input-label">@Label</label>
    }
    <div class="@FieldClassName" style="@FieldStyleValue" readonly="@IsReadOnly" disabled="@IsDisabled">
        @if (!string.IsNullOrEmpty(LeftIcon) || LeftSVGIcon.HasValue)
        {
            <Icon Source="@LeftIcon"
                  SVGIcon="@LeftSVGIcon"
                  @onclick="OnClickHandler"
                  Class="@IconLeft" />
        }
        
        @ChildContent

        @if (!string.IsNullOrEmpty(RightIcon) || RightSVGIcon.HasValue)
        {
            <div class="@IconRight"
                 @onclick="OnClickHandler"
                 @onclick:stopPropagation="true">
                <Icon Source="@RightIcon"
                      SVGIcon="@RightSVGIcon" />
            </div>
        }

    </div>
    @if (ValidationErrorStyle != ValidationErrorStyles.BorderOnly)
    {
        <div class="@ValidationClassName">
            @ValidationMessage
        </div>
    }
</div>