@namespace Gizmo.Web.Components
@inherits GizInputBase<TValue>

@typeparam TValue

<div class="@Class @ClassName"
     style="@Style"
     id="@Id"
     @ref="@Ref">

    <div class="giz-input-select__content_wrapper" @ref="_inputElement">
        <GizInput Label="@Label"
                  ValidationErrorStyle="@(ValidationErrorStyle == ValidationErrorStyles.Label ? ValidationErrorStyles.BorderOnly : ValidationErrorStyle)"
                  IsDisabled="@IsDisabled"
                  IsFullWidth="@IsFullWidth"
                  Width="@Width"
                  HasOutline="@HasOutline"
                  HasShadow="@HasShadow"
                  IsTransparent="@IsTransparent"
                  Size="@Size"
                  IsValid="@IsValid"
                  ValidationMessage="@ValidationMessage"
                  RightSVGIcon="@(HandleSVGIcon.HasValue ? HandleSVGIcon.Value : Icons.TriangleDown)"
                  @onclick="OnClickInput">
                    
            <div class="giz-input-wrapper">

                <input type="text"
                       value="@_text"
                       readonly="@IsReadOnly"
                       disabled="@IsDisabled"
                       placeholder="@Placeholder"
                       @oninput="OnInputHandler"
                       @onkeydown="OnInputKeyDownHandler" />

            </div>

        </GizInput>

        <Popup MaximumHeight="@MaximumHeight"
                IsOpen="@_isOpen"
                IsOpenChanged="IsOpenChangedHandler"
                OpenDirection="@OpenDirection"
                Class="@PopupClassName"
                Style="@PopupStyleValue">
            <List @ref="_popupContent"
                  CanClick="true"
                  CanSelect="true"
                  MaximumHeight="@(OpenDirection == PopupOpenDirections.Cursor ? MaximumHeight : null)">
                @if (ItemSource != null)
                {
                    @if (SelectedItem != null)
                    {
                        <div class="giz-list-item selected" @onclick="@(() => SetSelectedItem(SelectedItem.Id))">
                            <div class="giz-icon-select-item">
                                <div class="giz-icon-select-item__icon">
                                    <Icon Size="IconSizes.Small">
                                        @((MarkupString)SelectedItem.Icon)
                                    </Icon>
                                </div>
                                <div>@($"{SelectedItem.Display}")</div>
                                <Icon SVGIcon="Icons.Check" />
                            </div>
                        </div>
                        <Divider />
                    }

                    @foreach (var item in _filteredItems)
                    {
                        @if (item != SelectedItem)
                        {
                            <ListItem OnClick="@(() => SetSelectedItem(item.Id))">
                                <div class="giz-icon-select-item">
                                    <div class="giz-icon-select-item__icon">
                                        <Icon Size="IconSizes.Small">
                                            @((MarkupString)item.Icon)
                                        </Icon>
                                    </div>
                                    <div>@($"{item.Display}")</div>
                                </div>
                            </ListItem>
                        }
                    }
                }
            </List>
        </Popup>
    </div>
            
    @if (ValidationErrorStyle == ValidationErrorStyles.Label)
    {
        <div class="giz-input-validation-label">
            @ValidationMessage
        </div>
    }
</div>
