@namespace Gizmo.Web.Components
@inherits ButtonBase

<button class="@Class @ClassName"
        style="@Style"
        @onclick="@OnClickButtonHandler"
        @onclick:stopPropagation="true"
        disabled="@IsDisabled"
        type="@Type"
        name="@Name"
        @ref="@Ref"
        @attributes="@Attributes"
        id="@Id">

    <div style="display: flex; align-items: center; justify-content: center;">
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            @if (!string.IsNullOrEmpty(Icon) || SVGIcon.HasValue)
            {
                <Icon Source="@Icon" SVGIcon="SVGIcon" Class="@ButtonIcon" Size="@(Size == ButtonSizes.Small ? IconSizes.Small :
                      (Size == ButtonSizes.Medium ? IconSizes.Medium :
                      (Size == ButtonSizes.Large ? IconSizes.Large :
                      IconSizes.ExtraLarge)))" />
            }
        }
    </div>

</button>