@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@ClassName"
     id="@Id"
     @ref="@Ref"
     @onclick="OnClickHandler"
     @onclick:stopPropagation=" true">
    
    @if (!string.IsNullOrEmpty(Icon))
    {
        <Icon Source="@Icon" />
    }

    @ChildContent

    @if (NestedList != null)
    {
        @if (IsExpanded)
        {
            <Icon Source="fas fa-chevron-up" />
        }
        else
        {
            <Icon Source="fas fa-chevron-down" />
        }
    }
</div>
@if (NestedList != null)
{
    <Collapse Expanded="@IsExpanded">
        <List Class="giz-nested-list" IsDisabled="@IsDisabled">
            @NestedList
        </List>
    </Collapse>
}