@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName"
     style="@Style @StyleValue"
     id="@Id"
     @ref="@Ref"
     @onclick="OnClickHandler"
     @onclick:stopPropagation=" true">

    @if (!string.IsNullOrEmpty(Icon) || SVGIcon.HasValue)
    {
        <Icon Source="@Icon" SVGIcon="SVGIcon" Class="giz-list-item-icon" />
    }
    else
    {
        if (Parent.PreserveIconSpace)
        {
            <div style="width: 2.4rem; height: 2.4rem; margin-right: 1.7rem"></div>
        }
    }

    <div class="mr-auto my-1">
        @ChildContent
    </div>

    @if (NestedList != null)
    {
        @if (IsExpanded)
        {
            <Icon SVGIcon="Icons.TriangleUp" Class="giz-nested-list-expand-icon" />
        }
        else
        {
            <Icon SVGIcon="Icons.TriangleDown" Class="giz-nested-list-expand-icon" />
        }
    }
</div>
@if (NestedList != null)
{
    <Collapse Expanded="@IsExpanded">
        <List Class="giz-nested-list" IsDisabled="@IsDisabled">
            @NestedList
        </List>
    </Collapse>
}