@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<CascadingValue Value="@this">

    <div class="@Class @ClassName">

        @if (IsContextMenu)
        {

        }
        else if (Activator != null)
        {
            <div @onclick="OnClickMenuHandler">
                @Activator
            </div>
        }
        else
        {
            @if (!string.IsNullOrEmpty(Icon) || SVGIcon.HasValue)
            {
                <Button Variant="@Variant"
                        Size="@Size"
                        RightIcon="@Icon"
                        RightSVGIcon="SVGIcon"
                        @onclick="OnClickMenuHandler">
                    @Label
                </Button>
            }
            else
            {
                <Button Variant="@Variant"
                        Size="@Size"
                        RightSVGIcon="@(IsOpen ? Icons.TriangleUp : Icons.TriangleDown)"
                        @onclick="OnClickMenuHandler">
                    @Label
                </Button>
            }
        }

        <Popup IsModal="true" IsOpen="@IsOpen" Class="@PopupClassName" Style="@PopupStyleValue">
            <List Direction="@Direction" CanClick="true" OnClickItem="@(() => OnClickMenuItemHandler())">
                @ChildContent
            </List>
        </Popup>
    </div>

    <Overlay Visible="@IsOpen"
             @onclick="OnClickOverlayHandler">
    </Overlay>

</CascadingValue>