@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<CascadingValue Value="@this">

    <div class="@Class @ClassName"
         style="@Style">

        @if (IsContextMenu)
        {

        }
        else if (Activator != null)
        {
            <div @onclick="OnClickMenuHandler">
                @Activator
            </div>
        }
        else
        {
            @if (!string.IsNullOrEmpty(Icon) || SVGIcon.HasValue)
            {
                <Button Variant="@Variant"
                        Size="@Size"
                        RightIcon="@Icon"
                        RightSVGIcon="SVGIcon"
                        @onclick="OnClickMenuHandler">
                    @Label
                </Button>
            }
            else
            {
                <Button Variant="@Variant"
                        Size="@Size"
                        RightSVGIcon="@(IsOpen ? Icons.TriangleUp : Icons.TriangleDown)"
                        @onclick="OnClickMenuHandler">
                    @Label
                </Button>
            }
        }

        <Popup @bind-IsOpen="IsOpen" Class="@PopupClassName" Style="@PopupStyleValue" IsModal="@(!CloseOnItemClick)">
            <List @ref="_itemsList" Direction="@Direction" CanClick="true" OnClickItem="@(() => OnClickMenuItemHandler())" PreserveIconSpace="@PreserveIconSpace">
                @ChildContent
            </List>
        </Popup>
    </div>

    @if (!IsContextMenu)
    {
        <Overlay Visible="@IsOpen"
                 @onclick="OnClickOverlayHandler">
        </Overlay>
    }

</CascadingValue>