@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<CascadingValue Value="@this">

    <div class="@Class @ClassName"
         style="@StyleMapper.AsString()">

        @if (Activator != null)
        {
            <div @onclick="OnClickMenuHandler">
                @Activator
            </div>
        }
        else
        {
            <Button Variant="Button.ButtonVariants.Outline"
                    Size="@Size"
                    RightIcon="@Icon"
                    @onclick="OnClickMenuHandler">
                @Label
            </Button>
        }

        <Popup IsOpen="@IsOpen" Class="@PopupClassName">
            <List Direction="@Direction">
                @ChildContent
            </List>
        </Popup>
    </div>

    <Overlay Visible="@IsOpen"
             @onclick="OnClickOverlayHandler">
    </Overlay>

</CascadingValue>