@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<CascadingValue Value="@this">

    <div class="@Class @ClassName"
         style="@StyleMapper.AsString()">

        <Button Variant="Button.ButtonVariants.Outline"
                @onclick="OnClickMenuHandler">
            @if (!string.IsNullOrEmpty(Label))
            {
                <div style="margin-right: auto">
                    @Label
                </div>
            }

            @if (!string.IsNullOrEmpty(Icon))
            {
                <Icon Source="@Icon" />
            }
        </Button>

        <Popup IsOpen="@IsOpen" Class="@PopupClassName">
            <List>
                @ChildContent
            </List>
        </Popup>
    </div>

    <Overlay Visible="@IsOpen"
             @onclick="OnClickOverlayHandler">
    </Overlay>

</CascadingValue>