@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<CascadingValue Value="@this">

    <div class="@Class @ClassName">

        @if (Activator != null)
        {
            <div @onclick="OnClickMenuHandler">
                @Activator
            </div>
        }
        else
        {
            @if (Icon != null)
            {
                <Button Variant="@Variant"
                        Size="@Size"
                        RightIcon="@Icon"
                        @onclick="OnClickMenuHandler">
                    @Label
                </Button>
            }
            else
            {
                @if (IsOpen)
                {
                    <Button Variant="@Variant"
                            Size="@Size"
                            RightIcon="fas fa-chevron-up"
                            @onclick="OnClickMenuHandler">
                        @Label
                    </Button>
                }
                else
                {
                    <Button Variant="@Variant"
                            Size="@Size"
                            RightIcon="fas fa-chevron-down"
                            @onclick="OnClickMenuHandler">
                        @Label
                    </Button>
                }
            }
        }

        <Popup IsOpen="@IsOpen" Class="@PopupClassName">
            <List Direction="@Direction" CanClick="true">
                @ChildContent
            </List>
        </Popup>
    </div>

    <Overlay Visible="@IsOpen"
             @onclick="OnClickOverlayHandler">
    </Overlay>

</CascadingValue>