@namespace Gizmo.Web.Components
@inherits GizInputBase<TValue>

@typeparam TValue

<GizInput Class="@ClassName"
          Style="@Style"
          Label="@Label"
          ValidationErrorStyle="@ValidationErrorStyle"
          IsDisabled="@IsDisabled"
          IsFullWidth="@IsFullWidth"
          Width="@Width"
          HasOutline="@HasOutline"
          HasShadow="@HasShadow"
          IsTransparent="@IsTransparent"
          Size="@Size"
          IsValid="@IsValid"
          ValidationMessage="@ValidationMessage">
    <div class="giz-input-wrapper">
        <input type="text"
               value="@_text"
               disabled="@IsDisabled"
               @oninput="OnInputHandler" />
    </div>

    <div class="giz-input-icon-right">
        <Icon SVGIcon="@Icons.ArrowDown" @onclick="OnClickButtonDecreaseValueHandler" />
    </div>

    <div class="giz-input-icon-right">
        <Icon SVGIcon="@Icons.ArrowUp" @onclick="OnClickButtonIncreaseValueHandler" />
    </div>

</GizInput>