@namespace Gizmo.Web.Components
@inherits GizInputBase<TValue>

@typeparam TValue

<GizInput Class="@ClassName"
          Style="@Style"
          Label="@Label"
          ValidationErrorStyle="@ValidationErrorStyle"
          IsDisabled="@IsDisabled"
          IsFullWidth="@IsFullWidth"
          Width="@Width"
          HasOutline="@HasOutline"
          HasShadow="@HasShadow"
          IsTransparent="@IsTransparent"
          Size="@Size"
          IsValid="@IsValid"
          ValidationMessage="@ValidationMessage">
    <div class="giz-input-wrapper">
        <input type="text"
               value="@_text"
               disabled="@IsDisabled"
               @ref="_inputElement"
               @oninput="OnInputHandler" />
        @if (!string.IsNullOrEmpty(Format))
        {            
            <div class="giz-numeric-up-down__value"
                 @onclick="@(() => _inputElement.FocusAsync())"
                 @oncontextmenu="@(() => _inputElement.FocusAsync())"
                 @oncontextmenu:preventDefault="true">
                @if (_decimalValue.HasValue)
                {
                    @_decimalValue.Value.ToString(Format)
                }
            </div>
        }
    </div>

    @* @if (CanClearValue && IsNullable() && Value != null)
    {
        <IconButton SVGIcon="@Icons.Close" Class="giz-input-button-clear" @onclick="OnClickButtonClearValueHandler" />
    } *@

    <div class="giz-button-wrapper">
        <button @onclick="OnClickButtonIncreaseValueHandler">
            <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.646447 4.60355C0.841709 4.79882 1.15829 4.79882 1.35355 4.60355L4.5 1.45711L7.64645 4.60355C7.84171 4.79882 8.15829 4.79882 8.35355 4.60355C8.54882 4.40829 8.54882 4.09171 8.35355 3.89645L4.85355 0.396447C4.65829 0.201184 4.34171 0.201184 4.14645 0.396447L0.646447 3.89645C0.451184 4.09171 0.451184 4.40829 0.646447 4.60355Z" fill="#101828" fill-opacity="0.5" />
            </svg>
        </button>
        <button @onclick="OnClickButtonDecreaseValueHandler">
            <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.646447 0.396447C0.841709 0.201184 1.15829 0.201184 1.35355 0.396447L4.5 3.54289L7.64645 0.396447C7.84171 0.201184 8.15829 0.201184 8.35355 0.396447C8.54882 0.591709 8.54882 0.908291 8.35355 1.10355L4.85355 4.60355C4.65829 4.79882 4.34171 4.79882 4.14645 4.60355L0.646447 1.10355C0.451184 0.908291 0.451184 0.591709 0.646447 0.396447Z" fill="#101828" fill-opacity="0.5" />
            </svg>
        </button>
    </div>

</GizInput>