@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<input id="@Id"
       class="@Class @ClassName"
       type="radio" checked="@IsChecked"
       disabled="@IsDisabled"
       name="@GroupName"
       @ref="Ref" />
<label for="@Id">
    @if (!string.IsNullOrEmpty(Label))
    {
        @Label
    }
</label>