@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName">
    
    @for (int i = 0; i < 5; i++)
    {
        var local_i = i;
        string starColor = BackgroundColor;

        @if ((Value > i && _selectedStar == 0) || _selectedStar > i)
        {
            starColor = Color;
        }

        <div style="display: inline-flex"
             @onmouseover="@(() => OnMouseOverStar(local_i + 1))"
             @onmouseout="@(() => OnMouseOut())"
             @onclick="@(() => OnClickStar(local_i + 1))">
            <Icon SVGIcon="Icons.Star_Client" Color="@starColor" />
        </div>
    }
</div>
