@namespace Gizmo.Web.Components
@inherits GizInputBase<TValue>

@typeparam TValue

<div class="@Class @ClassName"
     id="@Id"
     @ref="@Ref">         
    <CascadingValue Value="@((ISelect<TValue>)this)" IsFixed="true">
        <GizInput Label="@Label"
                  IsDisabled="@IsDisabled"
                  IsFullWidth="@IsFullWidth"
                  HasOutline="@HasOutline"
                  HasShadow="@HasShadow"
                  IsTransparent="@IsTransparent"
                  Size="@Size"
                  IsValid="@_isValid"
                  ValidationMessage="@_validationMessage"
                  RightSVGIcon="Icons.TriangleDown"
                  @onclick="OnClickInput">

            @if (@_selectedItem?.ChildContent != null)
            {
                <div @onclick="OnClickInput" style="cursor: pointer;">
                    @_selectedItem.ChildContent
                </div>
            }
            else
            {
                <input type="text"
                       value="@_selectedItem?.Text"
                       disabled="@IsDisabled"
                       readonly
                       @onclick="OnClickInput" />
            }

        </GizInput>

        <Popup MaximumHeight="@MaximumHeight"
               @bind-IsOpen="_isOpen"
               OpenDirection="@OpenDirection"
               Class="@PopupClassName"
               Style="@PopupStyleValue">
            <List @ref="_popupContent"
                  CanClick="true">
                @ChildContent
            </List>
        </Popup>
    </CascadingValue>
</div>
