@namespace Gizmo.Web.Components
@inherits InputBase<TItemType>

@typeparam TItemType

<CascadingValue Value="@this" IsFixed="true">

    <div class="@Class @ClassName"
         style="@StyleMapper.AsString()">

        <GizInput Label="@Label"
                  IsDisabled="@IsDisabled"
                  IsFullWidth="@IsFullWidth"
                  HasOutline="@HasOutline"
                  HasShadow="@HasShadow"
                  Size="@Size"
                  IsValid="@_isValid"
                  ValidationMessage="@_validationMessage"
                  RightIcon="fas fa-caret-down"
                  @onclick="OnClickMenuHandler">

            @if (_selectedItem != null)
            {
                @if (!string.IsNullOrEmpty(_selectedItem.Text))
                {
                    @_selectedItem.Text
                }
                else
                {
                    @_selectedItem.ChildContent
                }
            }
            else
            {
                @Placeholder
            }

        </GizInput>

        <Popup MaximumHeight="@MaximumHeight" IsOpen="@IsOpen" Class="@PopupClassName">
            <List>
                @ChildContent
            </List>
        </Popup>
    </div>

    <Overlay Visible="@IsOpen"
             @onclick="OnClickOverlayHandler">
    </Overlay>

</CascadingValue>