@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

@typeparam TItemType

<CascadingValue Value="@this" IsFixed="true">

    <div class="@Class @ClassName"
         style="@StyleMapper.AsString()">

        <GizInput @onclick="OnClickMenuHandler" RightIcon="fas fa-caret-down">
            Selected Value
        </GizInput>

        <Popup IsOpen="@IsOpen" Class="@PopupClassName">
            <List>
                @ChildContent
            </List>
        </Popup>
    </div>

    <Overlay Visible="@IsOpen"
             @onclick="OnClickOverlayHandler">
    </Overlay>

</CascadingValue>