@namespace Gizmo.Web.Components
@inherits InputBase<TValue>

@typeparam TValue

<CascadingValue Value="@((ISelect<TValue>)this)" IsFixed="true">

    <div class="@Class @ClassName">

        <GizInput Label="@Label"
                  IsDisabled="@IsDisabled"
                  IsFullWidth="@IsFullWidth"
                  HasOutline="@HasOutline"
                  HasShadow="@HasShadow"
                  Size="@Size"
                  IsValid="@_isValid"
                  ValidationMessage="@_validationMessage"
                  RightIcon="fas fa-caret-down"
                  @onclick="OnClickMenuHandler">

            @if (@_selectedItem?.ChildContent != null)
            {
                <div @onclick="OnClickMenuHandler" style="cursor: pointer;">
                    @_selectedItem.ChildContent
                </div>
            }
            else
            {
                <input type="text"
                       value="@_selectedItem?.Text"
                       readonly
                       @onclick="OnClickMenuHandler" />
            }

        </GizInput>

        <Popup MaximumHeight="@MaximumHeight" IsOpen="@IsOpen" Class="@PopupClassName">
            <List>
                @ChildContent
            </List>
        </Popup>
    </div>

    <Overlay Visible="@IsOpen"
             @onclick="OnClickOverlayHandler">
    </Overlay>

</CascadingValue>