@namespace Gizmo.Web.Components
@inherits GizInputBase<TValue>

@typeparam TValue

<CascadingValue Value="@((ISelect<TValue>)this)" IsFixed="true">

    <div class="@Class @ClassName">

        <GizInput Label="@Label"
                  IsDisabled="@IsDisabled"
                  IsFullWidth="@IsFullWidth"
                  HasOutline="@HasOutline"
                  HasShadow="@HasShadow"
                  IsTransparent="@IsTransparent"
                  Size="@Size"
                  IsValid="@_isValid"
                  ValidationMessage="@_validationMessage"
                  RightSVGIcon="Icons.TriangleDown"
                  @onclick="OnClickInputHandler">

            @if (@_selectedItem?.ChildContent != null)
            {
                <div @onclick="OnClickInputHandler" style="cursor: pointer;">
                    @_selectedItem.ChildContent
                </div>
            }
            else
            {
                <input id="@Id"
                       type="text"
                       value="@_selectedItem?.Text"
                       disabled="@IsDisabled"
                       readonly
                       @onclick="OnClickInputHandler" />
            }

        </GizInput>

        <Popup IsModal="true" MaximumHeight="@MaximumHeight" IsOpen="@IsOpen" Class="@PopupClassName">
            <List>
                @ChildContent
            </List>
        </Popup>
    </div>

    <Overlay Visible="@IsOpen"
             @onclick="OnClickOverlayHandler">
    </Overlay>

</CascadingValue>