@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="d-flex flex-column @Class">
    <label for="@Id" class="control-label">@Label</label>

    <label class="giz-switch">
        <input type="checkbox"
               id="@Id"
               checked="@IsChecked"
               disabled="@IsDisabled"
               @onchange="OnChangeHandler">
        <span class="giz-switch__slider giz-switch__slider--round">
            <span class="giz-switch__slider__thumb">
                @if (ThumbSVGIcon.HasValue)
                {
                    <Icon SVGIcon="ThumbSVGIcon" />
                }
            </span>
        </span>
    </label>
</div>