@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@ClassName @Class">
    <input id="@Id"
           type="checkbox"
           checked="@IsChecked"
           disabled="@IsDisabled"
           @onchange="OnChangeHandler">
    <div class="track">
        <div class="thumb"></div>
    </div>    
    <label for="@Id">
        @Label
    </label>
</div>