@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="d-flex flex-column">
    <label for="@Id" class="control-label">@Label</label>

    <label class="giz-switch">
        <input type="checkbox"
               id="@Id"
               checked="@IsChecked"
               disabled="@IsDisabled"
               @onchange="OnChangeHandler">
        <span class="slider round"></span>
    </label>
</div>