@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@Class">
    <CascadingValue Value="@this" IsFixed="true">
        <ul class="gizmo-tab__ul">
            @foreach (var item in _items)
            {
                <li class="gizmo-tab__item">
                    <a class="gizmo-tab__link @(item.Selected ? "gizmo-tab-active":"")">@item.Header</a>
                </li>
            }
        </ul>
        <div class="gizmo-tab-content">
            @foreach (var item in _items)
            {
                @item.ChildContent
            }
        </div>
        @ChildContent
    </CascadingValue>
</div>