@namespace Gizmo.Web.Components
@inherits InputBase<string>

<div class="@Class @ClassName">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label for="@Id" class="giz-input-label">@Label</label>
    }
    <div class="@FieldClassName" readonly="@IsReadOnly" disabled="@IsDisabled"  >
        @if (!string.IsNullOrEmpty(LeftIcon))
        {
            <Icon Source="@LeftIcon"
                  @onclick="OnClickHandler" Class="@IconLeft" />
        }
        <input id="@Id"
               type="text"
               value="@_text"
               readonly="@IsReadOnly"
               disabled="@IsDisabled"               
               @onchange="OnChangeHandler"
               @onclick="OnClickHandler" />
        @if (!string.IsNullOrEmpty(RightIcon))
        {
            <Icon Source="@RightIcon"
                  @onclick="OnClickHandler" Class="@IconRight" />
        }

    </div>
    <div class="@ValidationClassName">
        @_validationMessage
    </div>
</div>