@namespace Gizmo.Web.Components
@inherits InputBase<TimeSpan?>

<CascadingValue Value="@this" IsFixed="true">

    <div class="@Class @ClassName">

        <GizInput Label="@Label"
                  IsDisabled="@IsDisabled"
                  IsFullWidth="@IsFullWidth"
                  HasOutline="@HasOutline"
                  HasShadow="@HasShadow"
                  Size="@Size"
                  IsValid="@_isValid"
                  ValidationMessage="@_validationMessage"
                  RightIcon="fas fa-clock"
                  @onclick="OnMenuClickHandler">

            <input id="@Id"
                   type="text"
                   value="@_text"
                   readonly="@IsReadOnly"
                   disabled="@IsDisabled"
                   style="cursor: pointer;"
                   @oninput="OnInputHandler"
                   @onclick="OnMenuClickHandler" />

        </GizInput>

        <Popup Modal="true" IsOpen="@IsOpen" Class="@PopupClassName">

            <div class="giz-time-picker">
                <div class="giz-time-picker-header">
                    <button><span class="giz-time-picker-header--title">10</span></button>
                    <div><span class="giz-time-picker-header--title">:</span></div>
                    <button><span class="giz-time-picker-header--title">10</span></button>
                    <div class="giz-time-picker-header--ampm">
                        <button><span class="giz-time-picker-header--label">AM</span></button>
                        <button><span class="giz-time-picker-header--label">PM</span></button>
                    </div>
                </div>
                <div class="giz-time-picker-content">
                    <div class="giz-time-picker-content--timer">
                        <button> <i class="fas fa-angle-up giz-time-picker-content--icon-size"></i></button>
                        <input type="text" value="10" min="1" max="12" maxlength="2">
                        <button> <i class="fas fa-angle-down giz-time-picker-content--icon-size"></i> </button>
                    </div>
                    <div>
                        <span class="giz-time-picker-content--separator">:</span>
                    </div>
                    <div class="giz-time-picker-content--timer">
                        <button> <i class="fas fa-angle-up giz-time-picker-content--icon-size"></i></button>
                        <input type="text" value="10" min="0" max="59" maxlength="2">
                        <button> <i class="fas fa-angle-down giz-time-picker-content--icon-size"></i> </button>
                    </div>
                    <div class="giz-time-picker-content--timer-action">
                        <button>OK</button>
                        <button>CANCEL</button>
                    </div>
                </div>
                <div class="giz-time-picker-footer">
                    <button class="active">12H Format</button>
                    <button>24H Format</button>
                </div>
            </div>

        </Popup>
    </div>

    <Overlay Visible="@IsOpen"
             @onclick="OnOverlayClickHandler">
    </Overlay>

</CascadingValue>