@namespace Gizmo.Web.Components
@inherits GizInputBase<TValue>

@typeparam TValue

<CascadingValue Value="@this" IsFixed="true">

    <div class="@Class @ClassName"
         id="@Id"
         @ref="@Ref">
        <GizInput Label="@Label"
                  IsDisabled="@IsDisabled"
                  IsFullWidth="@IsFullWidth"
                  HasOutline="@HasOutline"
                  HasShadow="@HasShadow"
                  IsTransparent="@IsTransparent"
                  Size="@Size"
                  IsValid="@_isValid"
                  ValidationMessage="@_validationMessage"
                  RightSVGIcon="Icons.Time2"
                  @onclick="OnClickInput">

            <input id="@Id"
                   type="text"
                   value="@_text"
                   readonly="@IsReadOnly"
                   disabled="@IsDisabled"
                   style="cursor: pointer;"
                   @oninput="OnInputHandler"
                   @onclick="OnClickInput" />

        </GizInput>

        <Popup IsOpen="@IsOpen"
               OpenDirection="@OpenDirection"
               Class="@PopupClassName"
               Style="@PopupStyleValue">
            <TimePickerBase @ref="_popupContent" TValue="TValue" Value="@Value" ValueChanged="@TimePickerValueChanged" IsFullWidth="@IsFullWidth" OnClickOK="@OnClickOKButtonHandler" OnClickCancel="@OnClickCancelButtonHandler" />
        </Popup>
    </div>

</CascadingValue>