@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName"
     style="@Style"
     id="@Id"
     @ref="@Ref">

    <CascadingValue Value="@this" IsFixed="true">
        @ChildContent
    </CascadingValue>
    
</div>